---
layout: default
title: People
permalink: /people/
---


<h3>Current Members</h3>

<hr/>
{% assign original_list = site.members %}
{% assign shuffled_list = original_list | sample: original_list.size %}


<div class="members">

  {% for person in shuffled_list %}

      <a class="member-card" href="{{person.link}}" target="_blank">
    <img src="/images/lab_members/{{person.photo}}" alt="{{person.name}}" />
    <div class="info">
      <p class="name">{{person.name}}</p>
      <p class="role">{{person.title}}</p>
      <p class="email">{{person.email}}</p>
      <p class="email">{{person.comment}}</p>
    </div>
  </a>

{% endfor %}

</div>



<h3>Past Visitors</h3>
<hr/>
{% assign original_list = site.past_visitors %}
{% assign shuffled_list = original_list | sample: original_list.size %}


<div class="members">

  {% for person in shuffled_list %}

      <a class="member-card" href="{{person.link}}" target="_blank">
    <img src="/images/lab_members/{{person.photo}}" alt="{{person.name}}" />
    <div class="info">
      <p class="name">{{person.name}}</p>
      <p class="role">{{person.title}}</p>
      <p class="email">{{person.email}}</p>
      <p class="email">{{person.comment}}</p>
    </div>
  </a>

{% endfor %}

  </div>





<hr />
