---
layout: default
title: Publications
permalink: /publications.html
---
<br><br><br>


{% for n in (2017..2026) reversed %}
{% for pub in site.publications reversed %}
{% if pub.year == n %}


<!--YEAR-->
<div class="col-lg-1">
<p> {% if pub.conf != "preprint" %} {{pub.year}} {% endif %} </p>
</div>

<!--CONF-->
<div class="col-lg-2">
<p style="text-align: right; color: #999999; font-style: italic"> {{pub.conf}}</p>
</div>

<!--TITLE-->
<div class="col-lg-9 ">
<p>  {{ pub.title }}</p>

<p>
{% for author in pub.authors %}
{% assign is_member = false %}
{% assign author_clean = author | remove: "*" %}
{% for member in site.members %}
{% if member.name == author_clean %}
{% assign is_member = true %}
{% assign urlv = member.link %}
{% endif %}
{% endfor %}
{% if is_member %}
<a href="{{%urlv%}}" style="display: inline-block; text-decoration: none;">{{ author }}</a>{% if forloop.last != true %},{% endif %}
{% else %}
<span style="display: inline-block">{{ author }}</span>{% if forloop.last != true %},{% endif %}
{% endif %}
{% endfor %}
</p>
<p style="display: block">
{% for link_content in pub.links %} <a href="{{link_content.content}}" style="display: inline-block">
    {{link_content.name}}</a>{% if forloop.last != true %},&nbsp;{% endif %}{% endfor %}
</p>
{% assign flag = 0 %}
{% for med in site.media reversed %}
{% if pub.title == med.related_paper %}
    {% assign flag = 1 %}
{% endif %}
{% endfor %}

{% if flag == 1 %}
<p>
        <i>Media Coverage:</i>&nbsp;
{% for med in site.media reversed %}
{% if pub.title == med.related_paper %}
    <a href="{{ med.link}}" style="display: inline-block">{{ med.venue }}</a> &nbsp;
{% endif %}
{% endfor %}
</p>

{% endif %}

{% if pub.awards %}
<p> <i>Awards:</i>&nbsp;
{% for award in pub.awards %}
    <b>{{ award }}</b> &nbsp;
{% endfor %}
</p>
{% endif %}
</div>

<!--<div  class="col-lg-2  d-none d-xl-block" style="text-align:center; alignment: center">-->
<!--<img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-flex;  max-width: 175px; margin-bottom: 20px"/>-->

<!--</div>-->


<hr>

{% endif %}
{% endfor %}
{% endfor %}



